/* .maincontainer{
  display: flex;
  width:100vw;
  height:100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}
.heading{
    font-weight: 700;
    font-size: large;
    color:purple !important;
}

.table-container {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding: 3rem;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 0.5rem;
    font-size: 1rem;
  }
  
  th {
    background-color: rgb(117, 201, 250);
  }
  
  td {
    background-color: rgb(205, 235, 253);
  }
  
  form {
    display: flex;
    gap: 5px;
  }
  
  form td:last-child {
    display: flex;
    justify-content: space-evenly;
  }
  
  form * {
    font-size: 28px;
  } */

  @media (min-width: 640px) {
    table {
      display: inline-table !important;
    }

    thead tr:not(:first-child) {
      display: none;
    }
  }

  td:not(:last-child) {
    border-bottom: 0;
  }

  th:not(:last-child) {
    border-bottom: 2px solid rgba(0, 0, 0, .1);
  }